.container {
  display: flex;
  flex-direction: column;
  font-family: 'Aref Ruqaa', serif; }

.top {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 650px;
  background-image: url("../img/mountain.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover; }
  @media (max-width: 710px) {
    .top {
      flex-basis: 500px;
      justify-content: space-around; }
      .top .nav span {
        font-size: 2em; } }
  .top .nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around; }
    .top .nav span {
      color: #fff; }
    .top .nav ul {
      list-style: none;
      padding-left: 0;
      display: flex;
      flex-direction: row; }
      .top .nav ul li {
        padding: 0px 20px; }
  @media (max-width: 600px) {
    .top .nav ul {
      flex-basis: 500px; }
      .top .nav ul li {
        padding: 0px 0px;
        margin: 0px auto; } }
  .top .maininfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .top .maininfo span {
      color: #fff; }
    .top .maininfo h1 {
      font-family: 'Mirza', cursive;
      font-size: 5.7em;
      margin: 0px 0px; }

.bottom {
  display: flex;
  flex-direction: column; }
  .bottom .topboxes, .bottom .bottomboxes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
    @media (min-width: 1115px) {
      .bottom .topboxes .boxes, .bottom .bottomboxes .boxes {
        height: 350px; }
        .bottom .topboxes .boxes .centerofbox .display, .bottom .bottomboxes .boxes .centerofbox .display {
          height: 84px;
          width: 84px; }
        .bottom .topboxes .boxes .boxtitle, .bottom .bottomboxes .boxes .boxtitle {
          left: 40px;
          bottom: 40px; } }
  .bottom .boxes {
    height: 250px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center; }
    .bottom .boxes .centerofbox .display {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      height: 60px;
      width: 60px;
      background-color: rgba(0, 0, 0, 0.5); }
    .bottom .boxes .boxtitle {
      position: absolute;
      left: 20px;
      bottom: 20px;
      color: #fff;
      transition: all 1s ease-in-out; }
      .bottom .boxes .boxtitle span {
        border-top: 0px solid #909497;
        border-bottom: 0px solid #909497; }
  .bottom .small {
    flex-grow: 1;
    flex-basis: 200px; }
  .bottom .large {
    flex-grow: 2;
    flex-basis: 400px; }

.display span {
  color: #fff; }

.one {
  background-image: url("../img/bridge.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover; }

.two {
  background-image: url("../img/hike.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover; }

.three {
  background-image: url("../img/temple2.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover; }

.four {
  background-image: url("../img/tower.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover; }

.five {
  background-image: url("../img/annapurna.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover; }

.six {
  background-image: url("../img/house.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover; }

.one:hover {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/bridge.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover; }
  .one:hover .boxtitle {
    width: 100%;
    left: 0;
    text-align: center; }
    .one:hover .boxtitle span {
      font-size: 1.4em;
      padding-bottom: 3px;
      border-top: 2px solid #909497;
      border-bottom: 2px solid #909497; }

.two:hover {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/hike.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover; }
  .two:hover .boxtitle {
    width: 100%;
    left: 0;
    text-align: center; }
    .two:hover .boxtitle span {
      font-size: 1.4em;
      padding-bottom: 3px;
      border-top: 2px solid #909497;
      border-bottom: 2px solid #909497; }

.three:hover {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/temple2.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover; }
  .three:hover .boxtitle {
    width: 100%;
    left: 0;
    text-align: center; }
    .three:hover .boxtitle span {
      font-size: 1.4em;
      padding-bottom: 3px;
      border-top: 2px solid #909497;
      border-bottom: 2px solid #909497; }

.four:hover {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/tower.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover; }
  .four:hover .boxtitle {
    width: 100%;
    left: 0;
    text-align: center; }
    .four:hover .boxtitle span {
      font-size: 1.4em;
      padding-bottom: 3px;
      border-top: 2px solid #909497;
      border-bottom: 2px solid #909497; }

.five:hover {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/annapurna.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover; }
  .five:hover .boxtitle {
    width: 100%;
    left: 0;
    text-align: center; }
    .five:hover .boxtitle span {
      font-size: 1.4em;
      padding-bottom: 3px;
      border-top: 2px solid #909497;
      border-bottom: 2px solid #909497; }

.six:hover {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/house.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover; }
  .six:hover .boxtitle {
    width: 100%;
    left: 0;
    text-align: center; }
    .six:hover .boxtitle span {
      font-size: 1.4em;
      padding-bottom: 3px;
      border-top: 2px solid #909497;
      border-bottom: 2px solid #909497; }

/*# sourceMappingURL=app.css.map */
