.container {
  display: flex;
  flex-direction: column;
  font-family: 'Aref Ruqaa', serif;
}

.top {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 650px;
  @include background-pic(mountain, jpg);
  @media (max-width: 710px) {
    flex-basis: 500px;
    justify-content: space-around;
    .nav {
      span {
        font-size: 2em;
      }
    }
  }
  .nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    span {
      color: #fff;
    }
    ul {
      list-style: none;
      padding-left: 0;
      display: flex;
      flex-direction: row;
      li {
        padding: 0px 20px;
        &:hover {
          color: #fff;
          font-weight: bold;
        }
      }
    }
  }
  @media (max-width: 600px) {
    .nav {
      ul {
        flex-basis: 500px;
        li {
          padding: 0px 0px;
          margin: 0px auto;
        }
      }
    }
  }
  .maininfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    span {
      color: #fff;
    }
    h1 {
      font-family: 'Mirza', cursive;
      font-size: 5.7em;
      margin: 0px 0px;
    }
  }
  .more {

  }
}

.bottom {
  display: flex;
  flex-direction: column;
  .topboxes, .bottomboxes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    @media (min-width: 1115px) {
      .boxes {
        height: $boxes-height * 1.4;
        .centerofbox {
          .display {
            height: $box-dims * 1.4;
            width: $box-dims * 1.4;
          }
        }
        .boxtitle {
          bottom: $boxtitle-space * 2;
          span {
              padding-left: $boxtitle-space * 2;
          }
        }
      }
    }
  }
  .boxes {
    height: $boxes-height;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    .centerofbox {
      .display {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        height: $box-dims;
        width: $box-dims;
        background-color: rgba(0, 0, 0, 0.5);

      }
    }
    .boxtitle {
      position: absolute;
      left: 0;
      bottom: $boxtitle-space;
      color: #fff;
      transition: all 1s ease-in-out;
      width: 100%;
      span {
        padding-left: $boxtitle-space;
        border-top: 0px solid $light-grey;
        border-bottom: 0px solid $light-grey;
        transition: all 0.2s ease-in-out;
      }
    }
  }
  .small {
    flex-grow: 1;
    flex-basis: 200px;
  }
  .large {
    flex-grow: 2;
    flex-basis: 400px;
  }
}

.display {
  span {
    color: #fff;
  }
}

.one {
  @include background-pic(bridge, jpg);
}
.two {
  @include background-pic(hike, jpg);
}
.three {
  @include background-pic(temple2, jpg);
}
.four{
  @include background-pic(tower, jpg);
}
.five{
  @include background-pic(annapurna, jpg);
}
.six {
  @include background-pic(house, jpg);
}

.one:hover {
  @include background-pics(bridge, jpg);
  @include change;
  @include glowing;
}
.two:hover {
  @include background-pics(hike, jpg);
  @include change;
  @include glowing;
}
.three:hover {
  @include background-pics(temple2, jpg);
  @include change;
  @include glowing;
}
.four:hover {
  @include background-pics(tower, jpg);
  @include change;
  @include glowing;
}
.five:hover {
  @include background-pics(annapurna, jpg);
  @include change;
  @include glowing;
}
.six:hover {
  @include background-pics(house, jpg);
  @include change;
  @include glowing;
}
