// Color

$light-grey: #909497;

// Distance

$boxtitle-space: 20px;
$boxes-height: 250px;
$box-dims: 60px;

// Keyframes

@-webkit-keyframes glow {
  10% { box-shadow: 0px 0px 0px #fff;}
  50% { box-shadow: 0px 0px 40px #fff;}
  90% { box-shadow: 0px 0px 0px #fff;}
}
